*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive, sans-serif; 
}



.container{
    /* background-image: ; */
    background-image: linear-gradient(45deg,rgba(12,159,104, 0.7)50%,
                                        rgba(52, 52, 223, 0.7),
                                        rgba(0, 238, 255, 0.7)),
                                     url(images/ict-background.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 25px;
    text-align: center;
    cursor:default;
    font-family: Georgia, Arial, Helvetica;
}

.container h1{
    margin-top: 15%;
}

.background-img{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}


.logo{
    margin: 5px 10px;
    border-radius: 10px;
}

.menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #7aeca9;
}

.menu .search-box{
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 10px;
    width: 370px;
    font-size: 16px;
}

/* .navigation{
    background-color: #fff !important
    transition: background-color 200ms linear;
} */

.menu ul{
    display: flex;
    list-style: none;
}

.menu .nav-links li{
    margin: 5px;
}

.menu .nav-links .dropdown li{
    margin: 10px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
    position: relative;
}

.menu li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f52c6c;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
}

.nav-links li a:hover::after {
    width: 100%;
}

/* .menu li:hover {
    background-color:#8dd1a9;
    border-radius: 5px;
    transition: 0.3s ease;
} */

.menu li {
    padding: 8px 14px;
}

/* DROPDOWN MENU*/

.nav-services{
    position: relative;
}

.menu .dropdown {
    background-color: #07966b;
    padding: 2px 5px;
    width: 330px;
    position: absolute;
    display: none;
    border-radius: 6px;
    top: 43px;
    left: 2px;
}

.menu .nav-services:hover .dropdown {
    display: block;
}

.dropdown li{
    position: relative;
}

.menu .dropdown li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f52c6c;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
}

/* section 2 */

.sect-2{
    font-family: sans-serif;
    margin: 50px 0;
    text-align: center;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sect-2 h2{
    margin: 15px;
}

.sect-2 .learn-more {
    margin: 10px;
    padding: 8px;
    border: 1px solid #000;
    width: 130px;
}

.sect-2 a{
    text-decoration: none;
}

.sect-2 .learn-more a .arrow{
    font-weight: 10px;
}

.hyphen{
    color: #06eea8;
    font-size: 40px;
}

.services{
    min-height: 100vh;
    /* width: auto; */
    font-family: sans-serif;
    background-color: #e4e8e9;
    text-align: center;
    padding-top: 50px;
    /* display: flex; */
}

.services h2{
    margin-bottom: 20px;
}

.services-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    align-items: center;
    width: 1200px;
    /* margin: 0 100px; */
    min-height: 400px;
   
}

@media (max-width: 640px) {
    .services-container{
        grid-auto-columns: 100%;
        max-width: 400px;
        /* margin: 20px 10px; */
        max-height: 400px;
    }
}

.services-list{
    margin: 50px 50px;
    padding: 20px;
    min-width: 300px;
    min-height: 250px;
    background: #fff;
    box-shadow: rgba(32, 19, 109, 0.24) 3px 3px 5px;
    border-radius: 60px 5px 5px;
    cursor: pointer;
    position: relative;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services-list h3{
    margin: 50px 0 20px;
}

.services-list hr{
    margin: 0 0 20px;
    width: 100px;
    border: 3px solid #362692;
}

.services-list .icons{
    color: #000;
    width: 50px;
}

.services-list:hover {
    transform:scale(1.1);
    z-index: 1;
    background: linear-gradient(45deg,rgba(12,159,104, 0.7)40%,
    rgba(52, 52, 223, 0.7),
    rgba(90, 243, 192, 0.925));
    color: #fff;
}


.services-list .icon-content{
    background-color:  #06eea8;
    padding: 15px;
    box-shadow: rgba(54, 38, 146, 0.24) 5px 5px 4px;
    border-radius: 40px 0;
    min-width: 90px;
    min-height: 90px;
    position: absolute;
    top: -40px;
    left: 40%;
}


/* Section 3 */


/* Section 4 */
.slider-area{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6e0c7;
}

.slider{
    width: 1140px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    /* background: #4070F4; */
}

.slides{
    width: 500px;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    transition: 2s;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slide-text{
    /* background: #f8a960; */
    background: linear-gradient(45deg, #20136d, #5c49b4, #20136d );
    width: 400px;
    font-size: 35px;
    padding: 150px 20px;
    color: #fff;
}

.testimonial .slide .sect4-img{
    display: none;
    width: 800px;
    height: 500px;
}

.slide .sect4-copy{
    display: none;
}



.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 40px;
    right: 250px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #20136d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color:#20136d;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -230%;
}

#radio3:checked ~ .first{
    margin-left: -460%;
}

#radio4:checked ~ .first{
    margin-left: -690%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 540px;
    right: 250px;
}

.navigation-auto div{
    border: 2px solid #20136d;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

@media (max-width: 600px) {
    .slide-text{
        max-width: 170px;
        max-height: 400px;
        font-size: 15px;
    }

    /* .slides{
        max-width: 350px;
        min-height: 300px;
    } */

    .slider{
        max-width: 550px;
        max-height: 400px;
    }

    .manual-btn:not(:last-child){
        margin-right: 10px;
    }
    
    .manual-btn:hover{
        background-color:#20136d;
    }
    
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    
    #radio2:checked ~ .first{
        margin-left: -105%;
    }
    
    #radio3:checked ~ .first{
        margin-left: -210%;
    }
    
    #radio4:checked ~ .first{
        margin-left: -315%;
    }
    
    .slide .sect4-img{
       display: none;
    }
    
    .slide .sect4-copy{
        display: block;
        width: 350px;
        height: 400px;
    }
}
 


/* .navigation-auto div:hover{
    background:#20136d ;
} */

.navigation-auto div:not(:first-child){
    margin-left: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #20136d;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #20136d;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #20136d;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #20136d;
}


/* Section 5 */

.testimonial{
    background-color: #e9f7dd;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 35px; */
}

/* .carousel{
    max-width: 1022px;
    background-color: #fdc8eb;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
} */

.testimonial .carousel{
    max-width: 990px;
    /* background-color: blueviolet; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel .card{
    scroll-snap-align: start;
    height: 400px;
    max-width: 320px;
    border-radius: 25px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
    right: 0;
    bottom: -40px;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}

.card .name{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: #0bfcb3;
}

.slide-btn{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    box-shadow: 2px 2px 7px #577ce0;
    cursor: pointer;
}

@media (max-width: 900) {
    .testimonial .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media (max-width: 600px) {

    .testimonial .carousel{
        grid-auto-columns: 100%;
        max-width: 350px;
    }

    .slide-btn{
        display: none;
    }
}

/* FOOTER SECTION */

.footer{
    padding: 50px 30px;
    max-width: 100vw;
    min-height: 600px;
    background-color: #051325;
    /* color:#a59f9f; */
    color:#ddd2d2;
    display: flex;
}

.footer-items{
    margin: 0 0 0 25px;
    line-height: 40px;
}

.item-1 {
   min-width: 300px; 
}

.footer-items h3{
    margin: 25px 0;
    color: #fff;
}

.footer-items a{
    color:#ddd2d2;
    /* color:#a59f9f; */
    text-decoration: none;
}

.item-3{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.item-3 a:hover{
    /* color: #fff; */
    color: #08ffb5;
    transition: 0.3s ease-in-out;
}

.subscribe{
    position: relative;
}

.subscribe input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #a59f9f;
    min-width: 260px;
    background: #051325;
    color: #fff;
    margin: 0;
    outline: none;
}

.subscribe button{
    padding: 10px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #a59f9f;
    position: absolute;
    right: 40px;
    bottom: 0px;
}

.subscribe .newsletter{
    margin: 16px 0;
}

.follow-us{
    color: #fff;
    margin: 10px 0;
}

.follow-us p{
    margin-bottom: 20px;
}

.follow-us a{
    margin-right: 10px;
}

.follow-us a:hover{
    color: #fff;
    transition: 0.3s ease-in-out;
    opacity: 0.65;
}

.follow-us a img{
    max-width: 45px;
}

@media (max-width: 600px) {
    .footer{
        display: block;
    }
}






































/* RESPONSIVE NAVBAR MENU

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU*/

/* .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
} */

/* .contain {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.text {
    margin: 20px;
    padding: 10px;
    font-size: 35px;
} */

/* .container {
    display: flex;
    justify-content:flex-start;
} */

/* .container a{
    color: #0a0909;
    width: 250px;
    height: 60px;
    margin: 20px;
    padding: 10px;
    border: 1.5px solid #0a0909;
    border-radius: 20px;
}

.container a span {
    margin: 10px;
} */

.web-image{
    width: 100vw;
}

/* APPLYING MEDIA QUERIES */

/* @media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px;
    }

    nav .logo {
        margin-bottom: 30px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    } */

    /* .hamburger{
        display: block;
    }

    .dropdown{
        left: 50px;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }

    .text {
        font-size: 20px;
    }
    .contain{
        width: 100%;
    }

    .container{
        flex-wrap: wrap;
    }
} */

